<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Some Website - By Sidney</title>
</head>
<body>
    <h1>This website is under maintenace</h1>
    <p>
        We'll be back right soon.
    </p>
</body>
</html>